*{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    position: fixed;
    background-color: aqua;
    width: 100%;
}

.nav{
    text-align: right;
    z-index: 2;
}

li{
    display: inline;
    padding: 5px;
}

